using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace seminarskaVP
{
    public partial class Naucen_kalkulator : Form
    {

        public bool vnes;
        public string pamti, znak,c;
        public decimal procent;

        public Naucen_kalkulator()
        {
            InitializeComponent();
        }

        private void nula_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += nula.Text;

            }
            else
            {
                ekran.Text = nula.Text;
                vnes = true;
            }
        }

        private void tocka_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += tocka.Text;

            }
            else
            {
                ekran.Text = tocka.Text;
                vnes = true;
            }
        }

        private void eden_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += eden.Text;

            }
            else
            {
                ekran.Text = eden.Text;
                vnes = true;
            }
        }

        private void dva_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += dva.Text;

            }
            else
            {
                ekran.Text = dva.Text;
                vnes = true;
            }
        }

        private void tri_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += tri.Text;

            }
            else
            {
                ekran.Text = tri.Text;
                vnes = true;
            }
        }

        private void cetiri_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += cetiri.Text;

            }
            else
            {
                ekran.Text = cetiri.Text;
                vnes = true;
            }
        }

        private void pet_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += pet.Text;

            }
            else
            {
                ekran.Text = pet.Text;
                vnes = true;
            }
        }

        private void sest_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += sest.Text;

            }
            else
            {
                ekran.Text = sest.Text;
                vnes = true;
            }
        }

        private void sedum_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += sedum.Text;

            }
            else
            {
                ekran.Text = sedum.Text;
                vnes = true;
            }
        }

        private void osum_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += osum.Text;

            }
            else
            {
                ekran.Text = osum.Text;
                vnes = true;
            }
        }

        private void devet_Click(object sender, EventArgs e)
        {
            if (vnes == true)
            {
                ekran.Text += devet.Text;

            }
            else
            {
                ekran.Text = devet.Text;
                vnes = true;
            }
        }

        private void sobiranje_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "+";
        }

        private void odzemanje_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "-";
        }

        private void mnozenje_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "*";
        }

        private void deleno_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "/";
        }

        

        private void presmetaj()
        {
            switch (znak)
            {
                case "+":
                    ekran.Text = Convert.ToString(Convert.ToDecimal(pamti) + Convert.ToDecimal(ekran.Text));

                    break;
                case "-":
                    ekran.Text = Convert.ToString(Convert.ToDecimal(pamti) - Convert.ToDecimal(ekran.Text));

                    break;
                case "*":
                    ekran.Text = Convert.ToString(Convert.ToDecimal(pamti) * Convert.ToDecimal(ekran.Text));
                    break;
                case "/":
                    if (ekran.Text == "0")
                    {
                        ekran.Text = "beskonecno";
                    }
                    else
                    {

                        ekran.Text = Convert.ToString(Convert.ToDecimal(pamti) / Convert.ToDecimal(ekran.Text));
                    }

                    break;
                case "mod": ekran.Text = Convert.ToString((Convert.ToDecimal(pamti)) - ((Convert.ToDecimal(pamti)) / (Convert.ToDecimal(ekran.Text))) * Convert.ToDecimal(ekran.Text));
                    break;
                case "x^y":
                    ekran.Text = Convert.ToString(System.Math.Pow(Convert.ToDouble(pamti), Convert.ToDouble(ekran.Text)));
                    break;
                case "nPr": int varn, var2, var3;     //variable declaration
                    varn = factorial(Convert.ToInt32(pamti));   //calling factorial function
                    var2 = factorial(Convert.ToInt32(pamti) - Convert.ToInt32(ekran.Text));
                    ekran.Text = Convert.ToString(varn / var2);
                    break;
                case "nCr":
                    varn = factorial(Convert.ToInt32(pamti));
                    var2 = factorial(Convert.ToInt32(pamti) - Convert.ToInt32(ekran.Text));
                    var3 = factorial(Convert.ToInt32(ekran.Text));
                    ekran.Text = Convert.ToString(varn / (var3 * var2));
                    break;
            }
        }
        private int factorial(int x)
        {
            int i = 1;
            for (int s = 1; s <= x; s++)
            {
                i = i * s;
            }

            return i;
        }

        private void ednakvo_Click(object sender, EventArgs e)
        {
            presmetaj();
            vnes = false;
        }

        private void button1_Click(object sender, EventArgs e)
        {
            ekran.Text = "3,141592654";

        }

        private void sin_Click(object sender, EventArgs e)
        {
            if (radian.Checked == true)
            {

                ekran.Text = Convert.ToString(System.Math.Sin(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }
            //if degree
            else
            {
                ekran.Text = Convert.ToString(System.Math.Sin((Convert.ToDouble(System.Math.PI) / 180) * (Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void e_Click(object sender, EventArgs e)
        {
            ekran.Text = "2,7182818284590";
        }

        private void button2_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(-Convert.ToInt32(ekran.Text));
            vnes = false;
        }
        private void mod_Click(object sender, EventArgs e)
        {
            procent = (Convert.ToDecimal(ekran.Text)/100);
            ekran.Text = Convert.ToString(procent);
            vnes = false;
        }

        private void cos_Click(object sender, EventArgs e)
        {
            if (radian.Checked == true)
            {

                ekran.Text = Convert.ToString(System.Math.Cos(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }

               //degree selected
            else
            {
                ekran.Text = Convert.ToString(System.Math.Cos((Convert.ToDouble(System.Math.PI) / 180) * (Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void tan_Click(object sender, EventArgs e)
        {
            //radian selected
            if (radian.Checked == true)
            {

                ekran.Text = Convert.ToString(System.Math.Tan(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }

                //degree selected
            else
            {
                ekran.Text = Convert.ToString(System.Math.Tan((Convert.ToDouble(System.Math.PI) / 180) * (Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void sin1_Click(object sender, EventArgs e)
        {
            if (radian.Checked==true)
            {

                ekran.Text = Convert.ToString(System.Math.Asin(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }
            else
            {
                ekran.Text = Convert.ToString(System.Math.Asin((Convert.ToDouble(System.Math.PI)/180)*(Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void cos1_Click(object sender, EventArgs e)
        {
            if (radian.Checked == true)
            {

                ekran.Text = Convert.ToString(System.Math.Acos(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }
            else
            {
                ekran.Text = Convert.ToString(System.Math.Acos((Convert.ToDouble(System.Math.PI) / 180) * (Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void tan1_Click(object sender, EventArgs e)
        {
            if (radian.Checked == true)
            {

                ekran.Text = Convert.ToString(System.Math.Atan(Convert.ToDouble(ekran.Text)));
                vnes = false;
            }
            else
            {
                ekran.Text = Convert.ToString(System.Math.Atan((Convert.ToDouble(System.Math.PI) / 180) * (Convert.ToDouble(ekran.Text))));
                vnes = false;
            }
        }

        private void ln_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(System.Math.Log(Convert.ToDouble(ekran.Text)));
            vnes = false;
        }

        private void log_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(System.Math.Log10(Convert.ToDouble(ekran.Text)));
            vnes = false;
        }

        private void sqrt_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(System.Math.Sqrt(Convert.ToDouble(ekran.Text)));
            vnes = false;
        }

        private void button4_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(Convert.ToDouble(1.0 / Convert.ToDouble(ekran.Text)));
            vnes = false;
        }

        private void x2_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(Convert.ToInt64(ekran.Text) * Convert.ToInt64(ekran.Text));
            vnes = false;
        }

        private void x3_Click(object sender, EventArgs e)
        {
            ekran.Text = Convert.ToString(Convert.ToInt64(ekran.Text) * Convert.ToInt64(ekran.Text) * Convert.ToInt64(ekran.Text));
            vnes = false;
        }

        private void xy_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "x^y";
        }

        private void faktoriel_Click(object sender, EventArgs e)
        {
            int var1 = 1;
            for (int i = 1; i <= Convert.ToInt16(ekran.Text); i++)
            {
                var1 = var1 * i;
            }
            ekran.Text = Convert.ToString(var1);
            vnes = false;
        }

        private void permutacija_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "nPr";
        }

        private void kombinacii_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            ekran.Text = "";
            znak = "nCr";
        }

        private void backspace_Click(object sender, EventArgs e)
        {
            pamti = ekran.Text;
            int n = pamti.Length;
            ekran.Text = (pamti.Substring(0, n - 1));
        }

        private void CE_Click(object sender, EventArgs e)
        {
            ekran.Text = String.Empty;
            vnes = true;
        }

        private void AC_Click(object sender, EventArgs e)
        {
            ekran.Enabled = true;
            ekran.Text = "0";
        }

        private void off_Click(object sender, EventArgs e)
        {
            this.Close();
        }
       
        
    }
}
